
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
}
.ip_anhtao {
    width: 666.66px;
    height: 500px;
}
